.git
.github
.next
.test-build
.verify-build
release
dist
node_modules
.pnpm-store
.env
.env.*
!.env.template
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
*.log
coverage
Dockerfile
docker-compose.yml
